@import 'utilities/_named-variables.scss';
@import 'partials/_navigation-bar.scss';
@import 'partials/_location-input';
@import 'partials/_display-current-weather.scss';
@import 'partials/_header.scss';
@import 'partials/_display-forecast.scss';
@import 'partials/_display-pollution.scss';



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Encode Sans Condensed', sans-serif;
}

body {
  background-color: $mainBackgroundColor;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-data {
  opacity: 0.2;
  font-size: 20px;
  text-align: center;
}

