@import 'utilities/_named-variables.scss';
@import 'partials/_navigation-bar.scss';
@import 'partials/_location-input';
@import 'partials/_display-current-weather.scss';
@import 'partials/_header.scss';
@import 'partials/_display-forecast.scss';
@import 'partials/_display-pollution.scss';
@import 'partials/_footer.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Encode Sans Condensed', sans-serif;
  color: #444;
}

body {
  background-color: $mainBackgroundColor;
  position: relative;
  min-height: 100vh; //to push footer to the bottom of the page when there's no data to display
  padding-bottom: 5vh; //equal to footer's height, so it doesn't cover other elements
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-data {
  opacity: 0.2;
  font-size: 20px;
  text-align: center;
}