@import 'utilities/_named-variables.scss';
@import 'partials/_navigation-bar.scss';
@import 'partials/_location-input';
@import 'partials/_display-current-weather.scss';
@import 'partials/_header.scss';
@import 'partials/_display-forecast.scss';
@import 'partials/_display-pollution.scss';
@import 'partials/_footer.scss';
@import 'partials/_displayNightNextDay.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Encode Sans Condensed', sans-serif;
  color: #444;
}

html {
  background-color: #F5F5F5;
}

body {
  background-color: $mainBackgroundColor;
  position: relative;
  min-height: 100vh; //to push footer to the bottom of the page when there's no data to display
  padding-bottom: 6vh; //equal to footer's height, so it doesn't cover other elements
  max-width: 1200px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerNavigationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @media (min-width: 1000px) {
    flex-direction: row;
    margin-bottom: 20px;
  }
}

.no-data {
  opacity: 0.2;
  font-size: 20px;
  text-align: center;
}