.weather-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.weather {
  border-left: 2px solid purple;
  border-right: 2px solid purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 95%;
  height: 60vh;
  background-color: white;
  @media (min-width: 1000px) {
    width: 45%;
    margin-right: auto;
  }
}

.weather-header {
  display: none;
  @media (min-width: 1000px) {
    display: block;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }
}

.weather-rows {
  display: flex;
  width: 100%;
  height: 100%;
  @media (min-width: 1000px) {
    height: 80%;
  }
}

.weather-row-left, .weather-row-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.weather-row-left {
  width: 40%;
}

.weather-row-right {
  width: 60%;
}

.weather-row-left-list, .weather-row-right-list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-row-right-list {
  padding: 0 5%;
}

.weather-row-left-list-element {
  padding: 1vh 0;
}

.weather-row-right-list-element {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1vh 0;
}

.weather-name {
  font-size: 1.5rem;
}

.weather-icon {
  background-size: cover;
  background-position: center;
  height: 20vh;
  width: 30vw;
  max-height: 200px;
  max-width: 200px;
}

.weather-temp {
  font-size: 1.6rem;
}

