.forecast-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.forecast-list {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 10px;
}

.forecast-list-element {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: 3px 0;
  border-left: 2px solid $maincolor;
  border-right: 2px solid $maincolor;
  align-items: center;
}

.forecast-list-element-time {
  width: 13vw;
  height: 2.2rem;
  margin-left: 5px;
  text-align: center;
}

.forecast-element-time-hour {
  display: block;
  font-size: 1.2rem;
  text-align: center;
}

.forecast-element-time-date {
  display: block;
  font-size: 0.8rem;
}

.forecast-list-icon {
  height: 100%;
  width: 15vw;
  background-repeat: no-repeat;
  background-position: center;
}

.forecast-main {
  height: 100%;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.forecast-main-temp {
  font-size: 1.6rem;
  text-align: center;
}

.forecast-deg-celsius {
  font-size: 1.4rem;
}

.forecast-main-desc {
  font-size: 0.8rem;
  text-align: center;
}

.forecast-list-secondary {
  list-style: none;
  height: 100%;
  width: 42vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 5px;
}

.forecast-list-secondary-element {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.6rem;
}