.weather {
  border-left: 2px solid purple;
  border-right: 2px solid purple;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 95%;
  height: 60vh;
  background-color: white;
}

.weather-row-left, .weather-row-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

}

.weather-row-left {
  width: 40%;
}

.weather-row-right {
  width: 60%;
}

.weather-row-left-list, .weather-row-right-list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-row-right-list {
  padding: 0 5%;
}

.weather-row-left-list-element {
  padding: 1vh 0;
}

.weather-row-right-list-element {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1vh 0;
}

.weather-icon {
  background-size: cover;
  background-position: center;
  height: 20vh;
  width: 30vw;
  max-height: 200px;
  max-width: 200px;
}

.weather-temp {
  font-size: 1.6rem;
}

