.footer {
  height: 5vh;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: $maincolor;
  color: white;
}

.footer__text {
  text-align: end;
  line-height: 5vh;
  font-size: 0.8rem;
  color: white;
  margin-right: 5px;
}