.navigation-bar {
  width: 500px;
  background-color: aquamarine;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navigation-bar-element {
  display: block;
}

.navigation-bar-navlink {
  text-decoration: none;
  color: black;
  margin: 20px 20px;
}